[submodule "utils"]
	path = utils
	url = /home/icto/rsw/NAV/standalone/utils

[submodule "driver"]
	path = driver
	url = /home/icto/rsw/NAV/standalone/driver/

[submodule "algorithm"]
	path = algorithm
	url = /home/icto/rsw/NAV/standalone/algorithm/

[submodule "modules/JLLT"]
	path = modules/JLLT
	url = ./modules/JLLT/

[submodule "modules/JMMC"]
	path = modules/JMMC
	url = ./modules/JMMC/
